/***********************************

Ajustes generales
Actualizado: Jul.19 - 2024
Hecho con un chingo de <3

***********************************/

//  Generales
html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
}

// Phone - "pho"
@media (max-width: 767px) {
    //
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    a,
    p {
        margin: 0px;
        padding: 0px;
    }
    //
    @import "pho";
}

// Tablet - "tab"
@media (min-width: 768px) and (max-width: 1023px) {
    //
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    a,
    p {
        margin: 0px;
        padding: 0px;
    }
    //
    @import "tab";
}

// DeskTop Mini - "dmn"
@media (min-width: 1024px) and (max-width: 1440px) {
    //
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    a,
    p {
        margin: 0px;
        padding: 0px;
    }
    //
    @import "dmn";
}

// DeskTop - "des"
@media (min-width: 1441px) {
    //
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    a,
    p {
        margin: 0px;
        padding: 0px;
    }
    //
    @import "des";
}